﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    請輸入分數: <input type="text" name="score" value="" />公分 <br />
    <input type="submit" value="送出" />
</form>
<br />
查詢結果:
<br/>
分數： @ViewBag.score <br />
代碼： @ViewBag.level

