﻿@model WebApplication1.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(a => a.Height)
    @Html.TextBoxFor(m => m.Height)公分
    @Html.ValidationMessageFor(b => b.Height)
    @ViewBag.HeightError<br />


    @Html.DisplayNameFor(a => a.Weight)
    @Html.TextBoxFor(m => m.Weight) 公斤
    @Html.ValidationMessageFor(b => b.Weight)
    @ViewBag.WeightError<br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level
